header {
    background-color: none;
    text-align: center;
    padding: 20px;
}
body {
    margin: 10px;
    padding: 20px;
    background-color: snow;
}
nav {
    overflow: hidden;
    background-color: rgb(24, 9, 106);
    max-width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
nav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
nav a:hover {
    background-color: rgb(172, 135, 3);
    color: black;
  }
h1 {
    text-align: center
    font-size: 5em
}
h2 {
    text-align: center
}
img {
    max-width: 100%;
    height: auto;
    text-align: center;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Expertise {
    background-color: none;
}
li {
    overflow: hidden;
    background-color: none;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: center;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    text-decoration-color: white;
    overflow: hidden;
    background-color: rgb(24, 9, 106);
    max-width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
p {
    text-align: center;
    color: white;
}
